.headblock {
    font-family: "Arial";
    color: white;
    background-color: rgb(107, 156, 119);
}
header.headblock {
    /*height: 60px;*/
    border-style: solid;
    border-color: #6b9c77;
    position: relative;
    justify-content: space-around;
    display: flex;
    align-items: center;
    overflow: hidden;
}
header.headblock > img {
    padding: 5px;
}
h1 {
    font-size: large;
    text-align: center;
    padding-right: 5%;
    flex: 2 1 0;

}   
#imgwrap {
    margin-right: 2%;
    margin-left: 2%;
}    
a.headblock:last-child {
    font-size: small;
    margin-right: 2%;
    margin-left: 2%;
}
