p,li {
   text-align: justify;  
   font-size: medium;
   font-family: "Arial";
   line-height: 1.3;
}    
li {
    margin: 2.5% 3% 0 0;    
}
#attention {
        margin: 4% 7%;
        font-size: large;
        font-family: monospace;
        border-color: lightgray;
        border-style: solid;
        border-width: thin;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: ivory;
}
#rq-photo {
   /* height: 270px;*/
    padding: 0.5%;
    background-image: url(/img/photoblock.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #d17c48;

    font-size: 16px;
    font-family: "Arial";
    color: white;
    line-height: 1.2;
    text-align: left;

    position: relative;  
}
#rq-photo ol {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 250px;
/*    max-height: 160px;*/
} 
#rq-photo li {
   margin-top: 10px;
   margin-right: 20px;
}
#rq-photo p, #rq-photo h2 {
   margin-left: 40px;
}
#rq-photo h2 {
   margin-bottom: 0;
   text-transform: uppercase;
   margin-right: 270px;
}
#rq-photo p {
     margin: 8px 270px 8px 20px;
     white-space: nowrap;
     overflow: hidden;
}
#rq-photo label {
    color: white;
/*    
    left: 25px;
    position: absolute;
    bottom: 3px;
*/    
}
h2 {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;   
    font-size: medium;
    text-transform: uppercase;    
}
hr {
    background-image: url("/img/divline.png");
}

label {   
        cursor: pointer;
        font-size: larger;
        font-family: sans-serif;
        display: inline-block;
        margin: 10px 20px;
        color: #d17c48;
        background-color: transparent;
}
input {
    cursor: pointer;
}
input[type="checkbox"] {
    margin-right: 10px;
}
input[type="submit"] {
        padding: 10px;
        cursor: pointer;
        font-size: larger;
        font-family: sans-serif;
        display: inline-block;
        margin: 10px 20px;
        background-color: #6b9c77;
        color: white;
        float: right;
        margin-right: 50px;
}
@media screen and (max-width: 1100px) {
    #rq-photo li {
        font-size: small;
    }
}
@media screen and (max-width: 800px) {
    #rq-photo li {
        font-size: small;
    }
}
@media screen and (max-width: 600px) {
    #rq-photo {
        background-image: none;
    }
    #rq-photo h2, #rq-photo ol, #rq-photo p {
        margin-right: 0;    
    }
}